@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Skranji&display=swap');

/* pour le corps de la page */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    background-color: rgb(43, 42, 43);
    max-width: 950px;
    max-height: max-content;
    
  
}

/* Pour le header*/
header #logo{
    position: relative;
    top: 10px;
    left: 20%;
    text-align: center;
    font-family:'Skranji',cursive;
    /*font-size: 47px; */
    
    text-shadow: 3px 2px 500px; 
        
     
}


.main{
    height: auto;
    width: auto;
    
}

/*pour la barre de recherche*/
body .search-input-container{
    position: relative;
    top: 25px;
    left: 35%;
    height: auto;
    
    
}


/*   for suggestion box */
.search-input-container
 .search-input{
    background: rgba(87, 76, 76, 0.961);
    width: 70%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  /* for input box */
  .search-input input{
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 15px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    
    padding: 0;
    opacity: 0;
    pointer-events: all;
    /*max-height: 280px;*/
    overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
    position: absolute;
    padding: 10px 8px;
    background-color:rgb(70, 70, 70);
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    width: 97.5%;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  
  /* for active input box shadow 
  .search-input-container
 .search-input input:hover, .search-input-container
 .search-input input:focus{
      -webk-webkit-box-shadow: -8px 10px 29px 18px rgb(7, 95, 196);
      -moz-box-shadow: -8px -10px 29px 18px rgb(7, 95, 196);
      box-shadow: 8px 2px 29px 8px rgb(7, 95, 196);
      border:none;
    }*/
    
  
  /* for mouse on suggestion box */
  .autocom-box li:hover{
    /*background: #efefef;*/
    background: #3a3f43;
  }
  
  /* for search icon */
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color: #0d9cea;
    cursor: pointer;
  }





/*pour les resultats*/

body .result-container{
    color: black;
    position: relative;
    top: 55px;
    left: 35%;
    background-color: whitesmoke;
    width: 70%;
}
 
li a{
  color: rgb(38, 132, 203);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  
}
li a:focus, li a:hover{
  text-decoration: underline;
  color: red;
  
} 

 li{
    list-style: none;
    padding: 8px 12px;
    display: block;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    
  }
  li img{
    position: relative;
    top: 7px;
    height: 32px;
    width: 32px;
  }
  span{
    color: red;
  }

/*pour le footer*/
footer{
    
    font-family: 'Nosifer', cursive;
    font-size: 20px;
    position: relative;
    top: 200px;
    left: 50%;
}